.jumbotron{
	padding:70px 30px 70px 30px;
	margin:0px auto;
	background:#000000;
	color:floralwhite;
}

#main-content{
	background:#AAAAAA;
}

.twitter-timeline {
    height: 500px !important;
}

.clickable{
	cursor: pointer;
}

.video-container{
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe{
	position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer{
	background:#000000;
}

.carousel {
    background:#1A237E;
}
.carousel .item {
  height: 700px;
}
.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 700px;
}

/* iphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.carousel{ height: 300px}
	.carousel .item{height: 300px}
	.item img{ min-height:300px}
	#clubModal{ max-height: 50%; max-width: 50%; padding: 10px} 
}

#sponsorLogo{
	background:#483D3d;
}

#customBorder{
	background:#FFFFFF;
	height:5px;
}
